<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="margin-bottom: 16px;">¡Ingresa tu solicitud!</mat-card-title>
    </mat-card-header>
    <form 
        [formGroup]="loginForm"
        (ngSubmit)="login()"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="submit-button">
        Ingresar
      </button>
      @if(errorMessage){
          <p style="color: red;">{{ errorMessage }}</p>
      }
    </form>
  </mat-card>
</div>